<div class="container">
	<div class="row">
		<div class="col s12 m12">
			<div class="card">
				<div class="card-content">
					<span class="card-title light-blue-text">Welcome, Ranveer</span>
				</div>
				<div class="card-action">
					<a href="/#/profile" class="waves-effect waves-light btn light-blue darken-3 white-text"><i class="material-icons left">person_pin</i>View Profile</a>
					<a onclick="Materialize.toast('This feature is yet to be added.', 4000)" class="waves-effect waves-light btn light-blue darken-3 white-text hide-on-med-and-down"><i class="material-icons left">settings</i>Edit Profile</a>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content">
					<span class="card-title light-blue-text">Most Popular Post</span>
					<h5>Do we really need the new IITs?</h5>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
				<div class="card-action">
					<a href="/#/issues/112345" class="waves-effect waves-light btn light-blue darken-3 white-text">View Full Post</a>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content">
					<span class="card-title light-blue-text">Newest Post</span>
					<h5>Do we really need the new IITs?</h5>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
				<div class="card-action">
					<a href="/#/issues/112345" class="waves-effect waves-light btn light-blue darken-3 white-text">View Full Post</a>
				</div>
			</div>
		</div>
	</div>
</div>
